<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="todo.js"></script>
</head>
<body ng-controller="todoListCtrl">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div href=# class="media" ng-repeat="task in tasks">
            <span>{{ task.text }}</span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="task.complete"></span>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"  ng-click="getChildData(task.id)"></span>
            <div id="list{{ task.id }}"></div>
        </div>
    </div>
  </div>
</body>
</html>